
<link rel="stylesheet" type="text/scss" href="home.page.scss">

<ion-content>
<h1 style="text-align: center;">Boletas Colombia</h1>
  <swiper-Container
  [Loop]="true"
  [Pagination]="true"
  [slidesPerView]="1"
  class="swiper-Container"
  > 

  <swiper-slide> 
    <h1>Boletas En Colombia!</h1>
  
    <img src="imagenes_home_page/Circo.png" width="300" height="300">
  
      <p>
    Boletas es la aplicación que necesitas para encontrar las mejores boletas para  <br>
    cualquier evento en Colombia. Con una amplia variedad de opciones, desde <br>
    conciertos y deportes hasta teatro y espectáculos, seguramente encontrarás <br>
    lo que buscas. Además, la aplicación es fácil de usar y te permite comprar <br>
    tus boletas con solo unos clics.
    <br><br>
    <strong>Descarga Boletas hoy y comienza a disfrutar de los mejores eventos de Colombia.</strong></p></swiper-slide>
  

  <swiper-slide><h1>titulo 2</h1>
<p>texto 2</p></swiper-slide>
<swiper-slide><h1>titulo 3</h1>
<p>texto 3</p></swiper-slide>
<swiper-slide><h1>titulo 4</h1>
<p>texto 4</p></swiper-slide>

</swiper-Container>
</ion-content>
